/* dark mode */
body {margin: 0;
    padding: 0;

    background-image: linear-gradient(135deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bganimation 15s infinite ;
/* background-image: url('https://7n.w3cschool.cn/statics/images/logonew2.png');
background-repeat: no-repeat;
background-attachment: fixed ;
background-position: right  top;
background-size: 30%; */
}
@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
/* body {background:#ffffff url('img_tree.png') no-repeat right top;} */
/* sort as order above can simplify code */

/* auto judge dark mode */
/* @media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }
}
*/
h1 {color: wheat;
    font-size: 8em;
}
p{
    text-shadow: 0.5px 0.5px 0.5px white;
    /* font-size: 2vw; */
    font-size: 2em; 
    /* use em can be adjust by browser 1em is 1 basic size */
}

table{
    width: 80%;
    margin: auto;
    font-size: 2em;
    border-collapse:collapse;
}
tr,th{
    text-align: center;
    margin: auto;
    border-bottom: 5px solid white;
    font-size: 2em;
}
tr:hover{
    background-color: rgba(80, 138, 153, 0.486);
}
tr:nth-child(even) {background-color: #f2f2f2;
    color: #222;
}

td{
    border: inherit;
}

a{
    font-size: 2em;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: white;
    background-color: tomato;
}
a:active{
    color: cyan;
    background-color: brown;
}

/* use id */
#para1
{ 
    /* text-align:center; */
    color:rgb(50, 100, 146); 
    text-indent:26px;
    /* head line indent */
}

/* use class */
.center
{
    text-align: center;
}

.border{
    background-color: lightcoral;
    border-left: 3px solid red ;
    padding: 1%;   
    color: #000;
    width: 80%;
    margin: auto;
}