/* dark mode */
body {margin: 5%;
background-color:#222222 ;
color:white;
background-image: url('https://7n.w3cschool.cn/statics/images/logonew2.png');
background-repeat: no-repeat;
background-attachment: fixed ;
background-position: right  top;
}
/* body {background:#ffffff url('img_tree.png') no-repeat right top;} */
/* sort as order above can simplify code */

h1 {color: wheat;}

/* use id */
#para1
{ text-align:center;
    color:rgb(50, 100, 146); }

/* use class */
.center
{
    text-align: center;
    font-size: 14px;
}