
    * {
  box-sizing: border-box;
}

body{
    background-image: url(./g1786.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 2vw;
}
 a:hover:not(.active){
    color: #333;
    background-color: #fff;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column{
    width: 25%;
    padding: 10px;
}
.main{
    width: 50%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a{
    padding: 10px;
    min-width: 3em;
    background-color: black;
    text-decoration: none;
    color: white;
}
.dropcontent {
    display: none;
    position: absolute;
    min-width: 100px;
}
.drop:hover .dropcontent {
    display: flex;
    flex-direction: column;
}
a.active{
    color: white;
    background-color: tomato;
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
